body{
    margin: 0;
}
.name{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
.frontpage-name a {
  text-decoration: none;
  color: inherit;
  font-size: 8px;
  margin-left: 5%;
}
.frontpage-name {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 10s linear infinite;
  position: relative;
}
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }
  .burger-background{
    background: #212F45;
    height: 50px;
    position: fixed;
    z-index: 3;
    width: 100%;
  }
#hamburger{
  width: auto;
  height: 40px;
  left: 5px;
  top: 5px;
 }
nav{
  background: rgba(0, 0, 0, 0.452);
  position: fixed;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
nav ul{
  font-family: 'PT Serif', serif;
  margin-top: 0;
  list-style: none;
  padding-top: 15%;
  padding-left: 0;
}
nav ul li{
  padding-left: 20%;
  line-height: 100px;
  background: rgba(0, 0, 0, 0.452);
  border: 1px solid white;
}
nav ul li a{
  margin-left: 0;
  padding: 15px 20px;
  font-family: Hack, sans-serif;
  color: white;
  font-size: 18px;
  text-decoration: none;
}
nav ul li a:hover{
  color: white;
}
.nav-image{
  background: rgba(0, 0, 0, 0.473);
}
a{
  font-size: 12px;
}
.text_center{
  text-align: center;
}
.title_seperator{
  padding-top: 25px;
}
.frontpage{
  font-family: 'Patua One', cursive;
  background: #000;
  color: white;
}
.frontpage p{
  padding-top: 20px;
  font-size: 15px;
  padding-left: 5%;
  padding-right: 5%;
}
.frontpage img{
  padding-bottom: 250px;
}
h2{
  color: white;
  background: linear-gradient(90deg, #000, rgb(151, 136, 136), #000);
}
.about{
  background: #000;
  color: white;
  padding-bottom: 50px;
}
.about{
  font-family: 'Patua One', cursive;
}
.me-image img{
  width: 200px;
  height: auto;
  border-radius: 50%;
}
.me-image{
  text-align: center;
}
.card-manager{
  margin-top: 50px;
  background: white;
  width: 80%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.extemd-c-m{
  height: 400px;
}
.extemd-c-m-l{
  height: 500px;
}
.card-manager h1{
  color: #212F45;
  font-size: 22px;
  margin-left: 10%;
  padding-top: 20px;
  margin-bottom: 0;
}
.card-manager ul li{
  color: black;
  list-style-type: square;
}
.card-manager ul{
  padding-left: 0;
  margin-left: 10%;
}
.card-manager p{
  margin-left: 5%;
  margin-top: 0;
  color: grey;
}
.skills-image{
  height: 200px;
  width: auto;
  padding-left: 20%;
}
.skills-gif-text{
  display: flex;
}
.projects_image{
  text-align: center;
  height: 250px;
}
.card-manager.extemd-c-m-l img{
  height: 250px;
}
.card-manager.extemd-c-m-l h1{
  margin: 0;
}
.card-manager.extemd-c-m-l p{
  margin: 0;
}
footer{
  background: #212F45;
  height: 350px;
  padding-left: 5%;
}
footer h1{
  color: white;
  padding-top: 50px;
  margin: 0;
}
footer svg{
  color: white;
}
.socials-footer{
  padding-top: 10px;
  display: flex;
  padding-bottom: 20px;
}
footer .socials-footer a{
  margin-right: 5px;
}
footer p{
  color:white;
}
footer ul{
  padding: 0;
  display: flex;
}
footer ul li a{
  color: white;
}
footer ul li{
  padding-right: 5px;
  list-style: none;
}
.copyright{
  position: relative;
  bottom: 0;
}
  @media (min-width: 1280px){
    .frontpage-name{
      font-size: 100px;
    }
    .frontpage-name a{
      font-size: 40px;
    }
    .image-text{
      display: block;
    }
    .image-text img{
        height: 400px ;
        margin-left: 43%;
    }
  }